.searchButton {
    width: 3.125rem;
    height: 3.125rem;
    /* Reset style for a button */

    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    /* Add any other reset properties you want */


}