.App {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.trackField {
    padding-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 7.125rem;
}

@media screen and (min-width: 720px) and (max-width: 1024px) {
    .App {
        padding-top: 3rem;
    }

}

@media screen and (max-width: 720px) {
    .App {
        padding-top: 10rem;
        padding-bottom: 5rem;

    }

    .trackField {
        flex-direction: column;
        padding-top: 5rem;
        gap: 3rem;
    }
}

@media screen and (min-width: 320px) and (max-width: 460px) {}